{% extends "base.html" %}

{% block title %}Statistics for point {{ point.name }}{% endblock title %}

{% block content %}
<h2>Statistics for point {{ point.name }}</h2>
<div id="select-chart-container">
    <label for="select-chart">Select a range</label>
    <select name="select-chart" id="select-chart">
        <option value="1">Last hour</option>
        <option value="8" selected>Last 8 hours</option>
        <option value="24">Last 24 hours</option>
    </select>
</div>
<div id="chart-container">
    <canvas id="chart"></canvas>
</div>
{% endblock content %}

{% block js_include %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
{% endblock js_include %}
{% block js_code %}
<script>
    const chart_data = {
        "yData": {{ chart_data.y_data|safe }},
        "xData": {{ chart_data.x_data|safe }},
    };

    const ctx = document.querySelector('#chart');
    const selector = document.querySelector('#select-chart');

    document.addEventListener('DOMContentLoaded', function() {
        createChart(chart_data);
    });

    selector.addEventListener("change", function(event) {
        let value = event.target.value;
        let url = `/data/statistics/point/{{ point.id }}/data/${value}`

        htmx.ajax("GET", url, {
            "target": "#chart-container",
            "swap": "none",
            "trigger": "load"
        });
    });

    document.body.addEventListener("htmx:afterRequest", function(event) {
        let jsonResponse = JSON.parse(event.detail.xhr.responseText);

        let updated_chart_data = {
            "yData": jsonResponse.y_data,
            "xData": jsonResponse.x_data,
        };

        createChart(updated_chart_data);
    })

    function createChart(data) {
        let chartStatus = Chart.getChart("chart");
        if (chartStatus != undefined) {
            chartStatus.destroy();
        }

        return new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data['xData'],
                    datasets: [{
                        label: "Temperatures",
                        bordercolor: "blue",
                        data: data['yData'],
                        fill: false
                    }]
                },
                options: {}
            }
        );
    }
</script>
{% endblock js_code %}