body {
    display: flex;
    justify-content: center;
}

.content {
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    border: solid 1px black;
    padding: 10px;
    background: #f7f9fc;
}

.container {
    display: flex;
    justify-content: center;
}